@import url('http://fonts.cdnfonts.com/css/pink-chaos');

$mobile-break-point: 320px;
$ereaders-break-point: 481px;
$tablets-potrait-break-point: 641px;
$tablets-landscape-break-point: 801px;
$laptops-break-point: 1025px;
$hi-res-break-point: 1281px;

$font-size: 1em;
$app-repr-font: 'Pink Chaos', sans-serif;

@keyframes shakeEffect {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
  // to {
  //   transform: rotateZ(+5deg);
  // }
}

.app-container{
  display: flex;
  height: 100%;
  width: 100%;
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% !important;
  }
  .enter-button{
    display: flex;
    align-items: center;
    justify-content: center;

  }
}