.login-template-container {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-direction: column;
  background-color:#FEFEFE;
  margin: 30px;
  border-radius: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  .items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
}