@import url('http://fonts.cdnfonts.com/css/pink-chaos');
@import url('http://fonts.cdnfonts.com/css/sf-sports-night'); 

$mobile-break-point: 320px;
$ereaders-break-point: 481px;
$tablets-potrait-break-point: 641px;
$tablets-landscape-break-point: 801px;
$laptops-break-point: 1025px;
$hi-res-break-point: 1281px;

$font-size: 1em;
$app-repr-font: 'Pink Chaos', sans-serif;
$app-repr-font-main: 'SF Sports Night', sans-serif; 

.logo-container {
  .welcome-text{
    color:#FFB303;
    font-family: $app-repr-font-main;
    text-transform: uppercase;
    animation: shakeEffect 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    letter-spacing: 0.85rem;
    font-style: italic;
    @media only screen and (max-width: $mobile-break-point){
      font-size: $font-size;
    }
    @media only screen and (min-width: $ereaders-break-point){
      font-size: $font-size * 2;
    }
    @media only screen and (min-width: $tablets-potrait-break-point){
      font-size: $font-size * 4;
    }
    @media only screen and (min-width: $tablets-landscape-break-point){
      font-size: $font-size * 8;
    }
    @media only screen and (min-width: $laptops-break-point){
      font-size: $font-size * 10;
    }
    @media (min-width: $hi-res-break-point) { 
      font-size: $font-size * 12;
    }
  }
}